@tailwind base;
@tailwind components;
@tailwind utilities;

#editor-wrapper {
    position: relative;
    min-height: 100%; /* Ensure it takes the full height of the parent */
    overflow: hidden; /* Prevent overflow */
}

.editor-content {
    min-height: 100%; /* Ensure the content takes the full height of the editor */
    overflow-y: auto; /* Allow vertical scrolling if content overflows */
}

.fixed-toolbar {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px;
    z-index: 20;
}

.toolbar-button {
    margin-right: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #fff;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}